body {
	margin: 0;
}

li {
	display: inline;
	padding: 10px;
}

/*******************
   NAV BAR STYLING
*******************/

#nav-wrapper {
	margin: 0 auto;
	padding: 0;
	background: rgba(65,72,72,0.75) url(../resources/images/nav-bar-background2.png) repeat-x center;
	background-color:#e50014;
	box-shadow: 0px 1px 50px #5E5E5E;
	width: 100%;
	height: 40px;	
	position: fixed;
	z-index: 1000;
	float: top;
}

#nav {
	/*background: rgba(65,72,72,0.75) url(../resources/images/nav-bar-background2.png) repeat-x center;
	background-color:#e50014;*/
	margin: 0 auto;
	padding: 0;
	width: 900px;
	height:40px;
	
	top: 0px;
	font-family: 'Open Sans', sans-serif;
	border-top: 1px solid;
	/*border-bottom: 1px solid;*/
	border-color: #f2f1f0;
	
}

#nav a {
	font-family: verdana;
	text-decoration: none;
	color: #EDEDED;
}

#nav a:hover {
	color: #BDBDBD;
}

#navigation {
	margin-top: 10px;
	list-style-type:none;
	font-family: 'Open Sans', sans-serif;
}

.title {
	color: #ededed;
	font-family: verdana;
	font-size: 25px;
	width: 350px;
	margin-top: 4px;
	margin-left: 5px;
	font-weight: bold;
	float: left;
}

.subtitle {
	color: #EDEDED;
	font-family: verdana;
	font-size: 15px;
}

/*******************
   HEADER STYLING
*******************/

.nav-header {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 130px;
	position: relative;
	top: 0px;
	background-color:#202021;
	box-shadow: 0px 1px 50px #5E5E5E;
	border-top: 1px solid;
	border-color: #f2f1f0;
	border-bottom: 1px solid;
	border-bottom-color: #838383;
	background: rgba(65,72,72,0.75) url(../resources/images/header-background.png) repeat-x center;
	/*display: none;*/
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.nav-wrapper {
	margin: 0 auto;
	padding: 0;
	width: 800px;
}
.top-header {
	margin: 0;
	padding: 0;
	float: left;
	height: 25px;
	width: 100%;
	background: cyan;
}

.right-header {
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	width: 700px;
	height: 100px;
	background: blue;
}

.right-header-top {
	margin: 0;
	padding: 0;
	float: right;
	width: 700px;
	height: 60px;
	background: pink;
}

.right-header-bottom {
	margin: 0;
	padding: 0;
	float: right;
	width: 700px;
	height: 40px;
	background: green;
}

.logo-header {
	margin: 0;
	padding: 0;
	background: #000;
	width: 100px;
	height: 100px;
	left: 10px;
	color: #fff;
	float: left;
}

/*******************
  CONTENT STYLING
*******************/

#main-content {
	width:850px;
	margin:0px auto;
	margin-top: 30px;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid;
	border-color: #f2f1f0;
	border-radius: 25px;
}

/*******************
  PRODUCT STYLING
*******************/

.imagelink{
	display:block;
	background:url(../resources/images/comprar.jpg);
	width: 180px;
	height: 26px;
}

.imagelink:hover{
	display:block;
	background:url(../resources/images/comprar2.jpg);
	width: 180px;
	height: 26px
}

#linha{
	width="800";
	margin-left: auto ;
 	margin-right: auto ;
}

/*
.titleForm {
	font-size: 18pt;
	font-family: 'Open Sans', sans-serif;
}

.loginForm {
	margin: 0 auto;
	width: 500px;
	float: left;
	left: 10px;
	position: relative;
}
*/